# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Land Of Heroes (Reborn).iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Land Of Heroes (Reborn)\.idea\.idea.Land Of Heroes (Reborn)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
